<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MiniContact">
        <activity
            android:name="com.epam.test.minimalistnotes.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.MiniContact">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.epam.test.minimalistnotes.BBCNewsActivity"
            android:exported="false"
            android:label="BBC News"
            android:theme="@style/Theme.MiniContact" />
        <activity
            android:name="com.epam.test.minimalistnotes.QwenDesignActivity"
            android:exported="false"
            android:label="Design"
            android:theme="@style/Theme.MiniContact" />
    </application>

</manifest>